PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/meal_manager
MONGO_DNS_SERVERS=8.8.8.8,1.1.1.1
CLIENT_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=_d
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev
CONSUMER_SESSION_SECRET==your_consumer_session_secret
CONSUMER_SESSION_MAX_AGE_MS=session_max_age_in_ms
